<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Emancipated_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Emancipated_Checker.Properties.Settings>
            <setting name="userCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="purchased" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="webhookurl" serializeAs="String">
                <value />
            </setting>
            <setting name="webhookname" serializeAs="String">
                <value />
            </setting>
            <setting name="savedwebhook" serializeAs="String">
                <value />
            </setting>
            <setting name="panicLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hackLevels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sucsessHacks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="loginLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </Emancipated_Checker.Properties.Settings>
    </userSettings>
</configuration>