<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Emancipated_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Emancipated_Checker.Properties.Settings>
            <setting name="userCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="purchased" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="webhookurl" serializeAs="String">
                <value />
            </setting>
            <setting name="webhookname" serializeAs="String">
                <value />
            </setting>
            <setting name="savedwebhook" serializeAs="String">
                <value />
            </setting>
            <setting name="panicLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hackLevels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sucsessHacks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="loginLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="supportCooldown" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="developerpermission" serializeAs="String">
                <value />
            </setting>
            <setting name="Locked" serializeAs="String">
                <value />
            </setting>
            <setting name="mernisLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="Acc_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Acc_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Acc_LoginLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="promotion" serializeAs="String">
                <value />
            </setting>
            <setting name="promotioncount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="thememusic" serializeAs="String">
                <value />
            </setting>
            <setting name="yourmusicpath" serializeAs="String">
                <value />
            </setting>
            <setting name="theme" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="Acc_Mail" serializeAs="String">
                <value />
            </setting>
        </Emancipated_Checker.Properties.Settings>
    </userSettings>
</configuration>
